@model PassDataViewtoController.Models.Detail

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm("Index", "Detail", FormMethod.Post))
    {
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th colspan="2" align="center">Person Details</th>
        </tr>
        <tr>
            <td>PersonId: </td>
            <td>
                @Html.TextBoxFor(m => m.PersonId)
            </td>
        </tr>
        <tr>
            <td>Name: </td>
            <td>
                @Html.TextBoxFor(m => m.Name)
            </td>
        </tr>
        <tr>
        <tr>
            <td>Age: </td>
            <td>
                @Html.TextBoxFor(m => m.Age)
            </td>
        </tr>
        <tr>

            <td>Gender: </td>
            <td>
                @Html.DropDownListFor(m => m.Gender, new List<SelectListItem>
               { new SelectListItem{Text="Male", Value="M"},
                 new SelectListItem{Text="Female", Value="F"}}, "Please select")
            </td>
        </tr>
        <tr>
            <td>City: </td>
            <td>
                @Html.TextBoxFor(m => m.City)
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
    }
</body>
</html>
