@using PassDatatoControllertoview.Models;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h3>Passing Data From Controller to View using ViewBag</h3>
@{
    var data = ViewBag.Message;
}
<h3>Id: @data.Id</h3>
<h3>Name: @data.Name</h3>
<h3>Detail: @data.Detail</h3>
<h3>Age: @data.Age</h3>
<h3>Gender: @data.Gender</h3>