@page "/DeleteStudent/{CurrentID}"
@using AdvanceBlazor.Data
@inject StudentServices studentservice
@inject NavigationManager navigationManager

<h2>Delete Students</h2>
<hr />
<h3>Are you sure you want to delete</h3>
<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <lable>StudentId:</lable>
            <label>@Student.StudentID</label>

        </div>
        <div class="form-group">
            <lable>Student Name:</lable>
            <label>@Student.Name</label>

        </div>
        <div class="form-group">
            <lable>Student City:</lable>
            <label>@Student.City</label>

        </div>
        <div class="form-group">
            <lable>Student Age:</lable>
            <label>@Student.Age</label>

        </div>
        <div class="form-group">
            <lable>Student Gender:</lable>
            <label>@Student.Gender</label>

        </div>

    </div>

</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" class="btn btn-danger" @onclick="@Delete" value="Delete" />
            <input type="button" class="btn btn-primary" @onclick="@Cancel" value="cancle" />
        </div>

    </div>

</div>


@code {
    [Parameter]
    public string CurrentID { get; set; }
    Student Student = new Student();



    protected override async Task OnInitializedAsync()
    {
        Student = await Task.Run(() => studentservice.GetStudentId(Convert.ToInt32(CurrentID)));
    }

    protected void Delete()
    {
        studentservice.Delete(Student);
        navigationManager.NavigateTo("/StudentInfo");
    }
    void Cancel()
    {
        navigationManager.NavigateTo("/StudentInfo");
    }
}
