@page "/EditStudent/{CurrentID}"
@using AdvanceBlazor.Data
@inject StudentServices studentservice
@inject NavigationManager navigationManager
<h2>Update Students</h2>
<hr />
<form>
    <div class="row">
        <div class="col-md-8">
            <div class=" form-group">

                <input form="Name" class="form-control" @bind="@Student.StudentID" />

            </div>
            <div class=" form-group">
                <label for=" Name" class="control-label">Name</label>
                <input form="Name" class="form-control" @bind="@Student.Name" />

            </div>
            <div class=" form-group">
                <label for="City" class="control-label">City</label>
                <input form="City" class="form-control" @bind="@Student.City" />


            </div>

            <div class=" form-group">
                <label for="Age" class="control-label">Age</label>
                <input form="Age" class="form-control" @bind="@Student.Age" />


            </div>
            <div class=" form-group">
                <label for="Gender" class="control-label"></label>
                <select @bind="@Student.Gender" class="form-control">
                    <option> select city</option>
                    <option value="Male">Male</option>
                    <option value="Female ">Female</option>


                </select>


            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@Update" value="save" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="cancle" />
            </div>

        </div>

    </div>
</form>

@code {
    [Parameter]
    public string CurrentID { get; set; }
    Student Student = new Student();



    protected override async Task OnInitializedAsync()
    {
        Student = await Task.Run(() => studentservice.GetStudentId(Convert.ToInt32(CurrentID)));
    }

    protected void Update()
    {
        studentservice.Update(Student);
        navigationManager.NavigateTo("/StudentInfo");
    }
    void Cancel()
    {
        navigationManager.NavigateTo("/StudentInfo");
    }
}
