@page "/EditStudent/{ CurrentID}"
@layout MainLayout
@using AdvanceBlazor.Data
@inject StudentServices studentservices
@inject NavigationManager NavigationManager

<h2>Update Students</h2>
<hr />
<form>
    <div class="row">
        <div class="col-md-8">
            <div class=" form-group">
                
                <input form="Name" class="form-control" @bind="@student.StudentID" />

            </div>
            <div class=" form-group">
                <label for=" Name" class="control-label">Name</label>
                <input form="Name" class="form-control" @bind="@student.Name" />

            </div>
            <div class=" form-group">
                <label for="City" class="control-label">City</label>
                <input form="City" class="form-control" @bind="@student.City" />


            </div>

            <div class=" form-group">
                <label for="Age" class="control-label">Age</label>
                <input form="Age" class="form-control" @bind="@student.Age" />


            </div>
            <div class=" form-group">
                <label for="Gender" class="control-label"></label>
                <select @bind="@student.Gender" class="form-control">
                    <option> select city</option>
                    <option value="Male">Male</option>
                    <option value="Female ">Female</option>


                </select>


            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@Update" value="save" />
                <input type="button" class="btn btn-primary" @onclick="@Cancle" value="cancle" />
            </div>

        </div>

    </div>
</form>

@code {
    [Parameter]
    public string CurrentID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        student = await Task.Run(() => studentservices.GetStudentId(Convert.ToInt32(CurrentID)));
    }



    Student student = new Student();
    protected void Update()
    {
        studentservices.Update(student);
        NavigationManager.NavigateTo("Student");
    }
    void Cancle()
    {
        NavigationManager.NavigateTo("Student");
    }
}